.tab {
    &__buttons {
        border-bottom: to-vw(0.5) solid rgba($color: $grey, $alpha: 0.2);
        display: flex;
        position: relative;
        margin: 0 0 to-vw(12);
        span {
            background-color: $primary;
            border-radius: to-vw(10);
            position: absolute;
            left: 0;
            bottom: to-vw(-1);
            width: 50%;
            height: to-vw(2);
            transition: all 0.15s ease 0s;
        }
    }
    &__button {
        padding: 0 0 to-vw(6);
        width: 50%;
        text-align: left;
        &--active {
            color: $primary
        }
    }
    &__pages {

    }
    &__page {
        display: none;
        &--active {
            display: block;
        }
    }
}