.edit-people {
    display: flex;
    gap: to-vw(8);
    & > div {
        width: calc(50% - to-vw(4));
    }
    &:not(:last-child) {
        margin-bottom: to-vw(32);
    }
    &__invite {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    &__invite-block {
        border: to-vw(0.5) dashed $grey;
        border-radius: to-vw(10);
        padding: to-vw(24) to-vw(16);
        text-align: center;
        &:not(:last-child) {
            margin-bottom: to-vw(8);
        }
    }
    &__invite-title {
        font-size: to-vw(18);
        font-weight: 400;
        line-height: 1;
        &:not(:last-child) {
            margin-bottom: to-vw(16);
        }
    }
    &__invite-icon {
        margin: 0 auto;
        width: to-vw(64);
        height: to-vw(64);
    }
    &__find {
        background-color: $primary;
        border-radius: to-vw(10);
        color: $white;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: to-vw(24) to-vw(16);
        text-align: center;
        .button {
            box-shadow: none;
        }
    }
    &__find-title, &__find-avatars {
        &:not(:last-child) {
            margin-bottom: to-vw(20);
        }
    }
    &__find-avatars {
        display: flex;
    }
    &__find-avatar, &__find-more {
        border: 2px solid $primary;
        border-radius: 50%;
        flex-shrink: 0;
        width: to-vw(32);
        height: to-vw(32);
        &:not(:last-child) {
            margin-right: to-vw(-11);
        }
    }
    &__find-avatar {
        overflow: hidden;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &__find-more {
        background-color: $white;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: to-vw(4);
        span {
            background-color: $primary;
            border-radius: 50%;
            width: to-vw(4);
            height: to-vw(4);
        }
    }
    &__button {
        padding-top: to-vw(12.5);
        padding-bottom: to-vw(12.5);
    }
}

.people {
    &__person {
        &:not(:last-child) {
            margin-bottom: to-vw(4);
        }
    }
}

.person {
    border: to-vw(0.5) solid rgba($color: $grey, $alpha: 0.2);
    border-radius: to-vw(10);
    display: flex;
    gap: to-vw(16);
    padding: to-vw(12) to-vw(16);
    &__img {
        border-radius: 50%;
        width: to-vw(56);
        height: to-vw(56);
        object-fit: cover;
    }
    &__content {
        align-self: center;
        flex-grow: 1;
    }       
    &__name {
        font-size: to-vw(16);
        font-weight: 500;
        line-height: 1;
        &:not(:last-child) {
            margin-bottom: to-vw(6);
        }
    }
    &__info {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: to-vw(8);
        &:not(:last-child) {
            margin-bottom: to-vw(2);
        }
    }
    &__geo {
        display: flex;
        align-items: center;
        gap: to-vw(6);
        span {
            font-size: to-vw(12);
            font-weight: 400;
            line-height: 1.1;
        }
    }
    &__position {
        color: $primary;
        font-size: to-vw(12);
        font-weight: 400;
        line-height: 1.1;
    }
    &__progress {
        .progress-bar {
            width: auto;
        }
    }
    // &__progress {
    //     display: flex;
    //     justify-content: space-between;
    //     align-items: flex-end;
    //     padding-top: to-vw(8);
    //     width: 100%;
    // }
    // &__progress-line {
    //     background-color: #F9F9F9;
    //     border-radius: to-vw(10);
    //     width: math.div(198, 239) * 100%;
    //     span {
    //         background-color: #ACE39C;
    //         border-radius: to-vw(10);
    //         display: block;
    //         height: to-vw(10);
    //     }
    // }
}